<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Misiones</title>
    <link rel="stylesheet" href="css/asigMision.css">
    <%- include('partials/bootstrap')%>

</head>

<body>
    <%- include('partials/navbar')%>

        <link rel="stylesheet" href="css/btnRegresar.css">
        <div class="btnRegresar">
            <i class="material-icons">arrow_back</i>
            <a href="/home">
                <h2>Regresar</h2>
            </a>
        </div>
        <div class="busqueda">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-3" type="search" placeholder="Ingrese el ID de la mision" 
                aria-label="">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">
                    <i class="material-icons">search</i></button>
              </form>
        </div>
        <div class="asigMision">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ratione culpa, sint 
            laborum earum cum fugit reiciendis nulla alias hic exercitationem, corrupti laudantium iure 
            quis perferendis temporibus, perspiciatis porro rem!</h2>
        </div>
        <div class="busqueda">
            <form class="form-inline my-2 my-lg-0">
                <input style="margin-left: 15%;" class="form-control " type="password" placeholder="Ingrese su contraseña" 
                aria-label=""> <br>
              </form>
                
              <button id="guardar" type="button" class="btn  btn-lg btn-dark">Asignar Mision</button>
        </div>
</body>

</html>