<!-- home.ejs -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Capitan</title>
    <link rel="stylesheet" href="/css/home.css" />
    <%- include('partials/bootstrap') %>

  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="options-container">
      <a href="/perfil" class="option option1">
        <img src="/img/perfil.png" alt="Perfil" class="option-image" />
        <span class="option-title">Perfil</span>
      </a>
      <a href="/registro" class="option option2">
        <img src="/img/registro.png" alt="Registro" class="option-image" />
        <span class="option-title">Registro Admin</span>
      </a>
      <a href="/misiones" class="option option3">
        <img src="/img/misiones.png" alt="Misiones" class="option-image" />
        <span class="option-title">Misiones</span>
      </a>
      <a href="/estatus" class="option option4">
        <img src="/img/estatus.png" alt="Estatus" class="option-image" />
        <span class="option-title">Estatus</span>
      </a>
    </div>
  </body>
</html>
