<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <%- include('partials/head')%>
        <%- include('partials/estilos') %>
</head>

<body>
    <%- include('partials/Navbar')%>


        <!-- Presentacion -->
        <div style="padding: 3.5rem;">
            <div class="presentacion border border-primary rounded-4">
                <h1 class="display-4">Hola Mundo</h1>
                <p class="lead txt-presentacion">En esta pagina se recuprerar los diferentes proyectos que ire
                    creando a lo largo de vida como desarrollador de software y como estudienates del mismo. <br>
                    Compartir mi conociemto y desarrollo es el principal objetivo.
                </p>
                <hr class="my-4">
                <figure class="text-center">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Si puedes imaginarlo , puedes programarlo</p>
                            <footer class="blockquote-footer">Alejandro Taboada <cite title="Canal Youtube">Programacion
                                    ATC
                                </cite></footer>
                        </blockquote>
                    </div>
                </figure>

            </div>
        </div>

</body>

</html>