<!-- login.ejs -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="/css/login.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    function submitForm(event) {
      event.preventDefault();
      const username = document.getElementById('matricula').value;
      const password = document.getElementById('password').value;
      const apiUrl = 'http://localhost:3000/login/' + username + '/' + password;
      axios.get(apiUrl)
        .then(response => {
          alert(response.data.message)
          console.log(response.data.message);
          window.location.href = 'http://localhost:3000/perfil';
          localStorage.setItem('matricula', username);
        })
        .catch(error => {
          // Manejo de errores
          alert('Error: \nRevisa tus datos!')
          console.error('Error:', error);
        });

    }
  </script>
</head>

<body>
  <div class="container">
    <div class="logo-container">
      <div class="marca">
        <img src="/img/logo.jpg" alt="Logo del sistema" class="img-logo" />
        <h2>MIXCÓATL</h2>
        <p>Sistema de Gestión de Personal Militar</p>
      </div>
    </div>
    <div class="form-container">
      <form method="POST" action="/login">
        <div class="input-group">
          <span class="input-group-text">
            <i class="material-icons">person</i>
          </span>
          <input type="text" id="matricula" name="matricula" maxlength="7" required placeholder="Matrícula" />
        </div>
        <div class="input-group">
          <span class="input-group-text">
            <i class="material-icons">lock</i>
          </span>
          <input type="password" id="password" name="password" pattern="[0-9]{8}" required placeholder="Contraseña" />
        </div>
        <div>
          <input type="submit" value="Iniciar sesión" onclick="submitForm(event)" />
        </div>
      </form>
    </div>
  </div>
</body>

</html>