<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/bootstrap')%>
</head>
<body>
    <%- include('partials/navbar')%>

    <link rel="stylesheet" href="css/btnRegresar.css">
    <div class="btnRegresar">
        <i class="material-icons">arrow_back</i>
        <a href="/home">
            <h2>Regresar</h2>
        </a>
    </div>

    
</body>
</html>