.busqueda{
    padding-top: 2%;
    margin-left: 70%;
    
}
.asigMision{
    margin: 2% 10%;
  display: grid;

  align-items: center;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  height: 250px;
  margin-bottom: 0.2%;
}
#guardar{
    
    margin-left: 25%;
    margin-top: 5%;

}