/* login.css*/
body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 112px 246px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 800px;
  height: 400px;
  /* Agrega los siguientes estilos */
  overflow: hidden;
}

.logo-container {
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #a42145;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.marca {
  margin-top: 90px;
}

.img-logo {
  width: 150px;
  height: 150px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px; /* Modifica el valor según tu preferencia */
  color: white;
  font-size: 45px;
}

p {
  margin-top: 0;
  margin-bottom: 0; /* Modifica el valor según tu preferencia */
  color: white;
  font-size: 15px;
}

.form-container {
  background-color: white;
  padding: 15px;
  width: 300px;
  /* Agrega los siguientes estilos */
  box-sizing: border-box;
  height: 100%;
}

form {
  margin-top: 90px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.input-group i {
  margin-right: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 14px;
  background-color: transparent;
  color: #a42145;
  border: 1px solid #a42145;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin-left: 142px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #a42145;
  color: white;
}
