<link rel="stylesheet" href="/css/navbar.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<script>
function salir(){
  localStorage.removeItem('matricula')
}
</script>

<div class="navbar">
  <div class="container">
    <div class="logo-container">
      <div class="marca">
        <img src="/img/logo.jpg" alt="Logo del sistema" class="img-logo" />
        <div class="title-section">
          <h2>MIXCÓATL</h2>
          <p>Sistema de Gestión de Personal Militar</p>
        </div>
      </div>
    </div>
    <div class="user-section">
      <p class="user">Capitán</p>
      <a href="/" onclick="salir()"class="logout-icon"><i class="material-icons">logout</i></a>
      
    </div>
  </div>
</div>